In [1]:
import numpy as np
import pandas as pd

In [2]:
flats = pd.read_csv('flats_cleaned.csv')
houses = pd.read_csv('houses_cleaned.csv')

In [3]:
df = pd.concat([flats,houses],ignore_index=True)

In [4]:
df = df.sample(df.shape[0],ignore_index=True)

In [5]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Sector 113 Gurgaon,flat,la vida by tata housing,1.55,11654.0,1330.0,Super Built up area 1330(123.56 sq.m.)Built Up...,2,2,3,not available,"Sector 113 Gurgaon , Gurgaon, Haryana",2.0,North-East,0 to 1 Year Old,"['Dwarka Sector 21', 'Pacific D21 Mall', 'Bajg...","Situated in sector 113 gurgaon , la vida by ta...","['2 Light', 'No AC', 'No Bed', 'No Chimney', '...","['Centrally Air Conditioned', 'Water purifier'...",NaN
1,4 BHK Flat in Sector 49 Gurgaon,flat,vatika city,3.60,11920.0,3020.0,Carpet area: 3020 (280.57 sq.m.),4,5,3,"pooja room,servant room","Sector 49 Gurgaon, Gurgaon, Haryana",7.0,NaN,5 to 10 Year Old,"['BOB ATM', 'PNB ATM', 'HDFC bank ATM', 'YES b...",All interior work fall celing pop on walls swi...,"['1 Water Purifier', '7 Fan', '1 Exhaust Fan',...","['Intercom Facility', 'Lift(s)', 'Park']","['Green Area5 out of 5', 'Construction4 out of..."
2,2 BHK Flat in Sector 68 Gurgaon,flat,mm the marina,1.00,12500.0,800.0,Carpet area: 800 (74.32 sq.m.),2,2,3,not available,"Sector 68 Gurgaon, Gurgaon, Haryana",21.0,NaN,1 to 5 Year Old,"['Airia Mall', 'Southern Peripheral Road', 'So...",Residential apartment for sell.The property ha...,NaN,"['Power Back-up', 'Lift(s)', 'Swimming Pool', ...","['Green Area4 out of 5', 'Amenities4 out of 5'..."
3,3 BHK Flat in Sector-33 Sohna,flat,godrej nature plus,1.40,15124.0,926.0,Super Built up area 145Carpet area: 86 sq.m.,3,2,3+,not available,"Sector-33 Sohna, Gurgaon, Haryana",20.0,NaN,Within 3 months,"['Signature Global Infinity Mall Sohna', 'Bads...",It is a 3rhk property( 2 rooms with kids/study...,[],"['Security / Fire Alarm', 'Intercom Facility',...",NaN
4,3 BHK Flat in Sector 37D Gurgaon,flat,ramprastha primera,1.20,13333.0,900.0,Carpet area: 900 (83.61 sq.m.),3,3,3,store room,"D-005, Sector 37D Gurgaon, Gurgaon, Haryana",5.0,North-East,1 to 5 Year Old,"['JMS Marine Square Mall', 'HUDA Market', 'Dwa...",Ramprastha primera is one of gurgaon's most so...,"['4 Fan', '5 Light', '4 AC', 'No Bed', 'No Chi...","['Feng Shui / Vaastu Compliant', 'Intercom Fac...","['Environment4 out of 5', 'Lifestyle4 out of 5..."

In [6]:
df.to_csv('gurgaon_properties.csv',index=False)

In [10]:
df.shape

(3961, 20)